body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: left;
    font-size: 20px;
    padding: 10px;
}
a {
    color: #fff;
    text-decoration: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 200%;
}

main {
    padding: 20px;
}
